.show {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}

.challenge {
  margin: 50px 0;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.button {
  width: 200px;
  background: #ff9000;
  border: none;
  border-radius: 4px;
  padding: 20px;
  font-size: 16px;
}

.card {
  box-shadow: 0 2px 12px #ccc;
  padding: 10px;
  border-radius: 4px;
}

.post:nth-child(even) {
  background: #ccc;
}

.post {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  button {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    margin-right: 10px;
    border: none;

    &:hover {
      background: rgb(34, 9, 143);
      color: #fff;
    }
  }
}
